{% include 'template/header.html' %}
<body>
{% include 'template/menu.html' %}
<div id="container" class="container">
    <div id="content" class="main-content">
        {% include 'template/post-head.html' %}
        <div class="about-us">
            <h2>Обо мне</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum pretium erat, ac placerat orci lobortis consectetur.
                Cras erat libero, imperdiet id condimentum in, maximus nec lacus. Curabitur magna lorem, maximus ultricies ornare in, laoreet eget ipsum.
                Etiam elit elit, laoreet nec elementum vitae, luctus a urna. Fusce iaculis pulvinar lorem at ullamcorper. Vestibulum ornare nulla non viverra tempus.
                Donec vel leo dictum, mattis massa et, dictum nibh. Donec eu lorem ut diam vehicula euismod malesuada sit amet nunc.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum pretium erat, ac placerat orci lobortis consectetur.
                Cras erat libero, imperdiet id condimentum in, maximus nec lacus. Curabitur magna lorem, maximus ultricies ornare in, laoreet eget ipsum.
                Etiam elit elit, laoreet nec elementum vitae, luctus a urna. Fusce iaculis pulvinar lorem at ullamcorper. Vestibulum ornare nulla non viverra tempus.
                Donec vel leo dictum, mattis massa et, dictum nibh. Donec eu lorem ut diam vehicula euismod malesuada sit amet nunc.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum pretium erat, ac placerat orci lobortis consectetur.
                Cras erat libero, imperdiet id condimentum in, maximus nec lacus. Curabitur magna lorem, maximus ultricies ornare in, laoreet eget ipsum.
                Etiam elit elit, laoreet nec elementum vitae, luctus a urna. Fusce iaculis pulvinar lorem at ullamcorper. Vestibulum ornare nulla non viverra tempus.
                Donec vel leo dictum, mattis massa et, dictum nibh. Donec eu lorem ut diam vehicula euismod malesuada sit amet nunc.
            </p>

        </div>
        {% include 'template/order_popup.html' %}
    </div>
</div>
{% include 'template/footer.html' %}
</body>
{% include 'template/footer_js.html' %}
