<div id="footer" class="footer">
    <div class="footer-wrapper">
        <div>
            <ul class="contact">
                <li>Москва</li>
                <li>08:00-20:00 (звонки c 08:00 до 22:00)</li>
                <li>8-905-516-65-88</li>
                <li>test-email25@gmail.com</li>
            </ul>
            <ul class="social">
                <li>Инстаграмм</li>
                <li>В контакте</li>
                <li>Фейсбук</li>
            </ul>
        </div>
        <p>&copy;2018. Домашний доктор. Москва. Все права защищены.</p>
    </div>
</div>