<div id="header" class="header">
    <div class="header-wrapper">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link active" data-href="services" href="/services">Услуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/specialists" data-href="specialists">Специалисты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  data-href="patronage" href="/services/patronage" >Патронаж</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/price" data-href="cost">Цены</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about" data-href="about-us">О нас</a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#" data-href="partners">Партнерам</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a id="leave-order" class="nav-link" href="#" data-href="leave-order">Оставьте заявку</a>
            </li>
        </ul>
    </div>

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav ">
                <li class="nav-item">
                    <a class="nav-link active" data-href="services" href="/services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/specialists" data-href="specialists">Специалисты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-href="patronage" href="/services/patronage" >Патронаж</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/price" data-href="cost">Цены</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" data-href="about-us">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-href="leave-order">Оставьте заявку</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-dark ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>